<a href="https://colab.research.google.com/github/Mallugaridharmesh/python_practice/blob/main/practice_test2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

26. write the rules to create a variables?
* Variable names in Python can contain letters (a-z, A-Z), numbers (0-9), and underscore(_)
* they cannot start eith a number
* keyword can't be used

27. what is type function?

* The type() function in Python is used to determine the data type of a variable or object.

In [ ]:
number = 10
print(type(number))

<class 'int'>

28. what is differences between = and == in python
assigment opeartor:
* In Python, '=' and '==' are two distinct operators with different purposes
* equat

29. what is difference between muttable and immutable?
* Mutable objects can be changed after they are created.
* Immutable objects cannot be changed after they are created.

30. write a python code to print first natural numbers?

In [ ]:
# write a python code to print first natural numbers using loop statement?
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# write a python program some of first 10 natural number?
i = 1
sum = 0
while i <= 10:
    sum += i
    i += 1
print(sum)

55

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
sum = 0
for i in a:
    sum += i
print(sum)

55

31. write a python program to identify given number is prime or not

In [6]:
# write a python program to identify given number is prime or not
number = int(input("Enter a number: "))
for i in range(2, number):
    if number % i == 0:
        print(number, "is not a prime number")
        break
else:
    print(number, "is a prime number")

Enter a number: 6
6 is not a prime number

32. write a python fibanoic series of 5?

In [33]:
#32. write a python fibanoic series of 5?
#f(n) = f(n-1) + f(n-2)
f = 0
F = 1
for i in range(5):
  print(f)
  f = F + f
  F = f - F

0
1
1
2
3

33. write a python program to find factorial of given number

In [67]:
#33. write a python program to find factorial of given number?
#n! = n * (n - 1) * (n - 2) * ... * 2 * 1
number = int(input("Enter a number: "))#4! = 4 * (4 - 1) * (4 - 2) * (4 - 3)
factorial = 1                          #  = 4 * 3 * 2 * 1 = 24
for n in range(1, number + 1):    # Factorials start with 1, not 0
    factorial = factorial * n
print(factorial)

Enter a number: 4
24

write a python program to print multiplication table on given number

In [86]:
#write a python program to print multiplication table on given number?
number = int(input("Enter a number: "))
for i in range(1,11):# contain a 1 t0 11 #slicing
    print(number, "x", i, "=", number * i)

Enter a number: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

35. write a python program to count total number of digits in a numbers

In [101]:
from string import digits
#35. write a python program to count total number of digits in a numbers?
number = int(input("Enter a number: "))
count = 0
if number == 0:
    count = 1
else:
    while number > 0:
        number = number // 10
        count += 1
print("number of digits:", count)

Enter a number: 3456789
number of digits: 7


36. write a python program print list in reverse using loop

reversed = []
for i in a:
    reversed.insert(0, i)
print(reversed)

In [119]:
#36. write a python program print list in reverse using loop?
a = [1,2,3,4,5,6,7,8,9,10]
reversed = []
for i in a:
    reversed.insert(0, i)
print(reversed)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [118]:
#36. write a python program print list in reverse using loop?
a = [1,2,3,4,5,6,7,8,9,10]
for i in a[::-1]: #contain a list of slicing
    print(i)

10
9
8
7
6
5
4
3
2
1


37. write a python program to display from -10 to -1 using loop

In [120]:
#37. write a python program to display from -10 to -1 using loop?
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1