<a href="https://colab.research.google.com/github/Mallugaridharmesh/python_practice/blob/main/practice_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. What is Python and why is it popular?
Python is a high-level, interpreted, general-purpose programming language.
It emphasizes code readability and has a syntax that allows developers to express concepts in fewer lines of code compared to languages such as C++ or Java.it is developed by guido russom in 1991.

#2. What is an IDE and name a few popular Python IDEs?
An IDE (Integrated Development Environment) is a software application that provides comprehensive facilities to computer programmers for software development. It normally consists

#3.What are the rules for naming variables in Python?
  Variable names in Python can contain letters (a-z, A-Z), numbers (0-9), and underscores (_).
*  They cannot start with a number
*  Python keywords (reserved words) cannot be used as variable names
* It is good practice to use descriptive names that reflect the purpose of the variable.they are case

# 4.How do you assign multiple values to multiple variables in a single line?
* x, y, z = 10, 20, 30

In [ ]:

x, y, z = 10, 20, 30

#5.Can you use Python keywords as variable names? Why or why not?
 No, you cannot use Python keywords as variable names.
 Python keywords are reserved words that have special meanings in the language and are used to define the syntax and structure of the Python language.
 Using them as variable names would cause and errors
* Example:
 if = 10  # This will cause a syntax error because 'if' is a keyword.

 # 6.Why are comments important in programming?
> which comment contains a text messages in format
comment can get a langauge in programs so we can types a easy format in a programming base understanding the purpose of code
* comments can provides context for erroer or helping to fix a issues more efficiently
* it can explain the code what does it means

7. What are the basic data types in Python?
* There four types of basic data types are:
1. Integers (int): Whole numbers, such as 10, -5, 0.
2. Floating-point numbers (float): Numbers with decimal points, such as 3.14, -2.5.
3. Complex numbers (complex): Numbers with a real and imaginary part, such as 2 + 3j.
4. Booleans (bool): Represents truth values, either True or False.

In [ ]:
#integer():-
a = (10)
print(a)
print(type(a))

10
<class 'int'>

In [ ]:
#float():
a = (10.5)
print(a)
print(type(a))

10.5
<class 'float'>

In [ ]:
#complex():-
a = (2+3j)
print(a)
print(type(a))

(2+3j)
<class 'complex'>

In [ ]:
#Boolean():-
a = (10>1)
print(a)
print(type(a))

True
<class 'bool'>

In [ ]:
#string():-
a = ("hello")
print(a)
print(type(a))

hello
<class 'str'>

# 7.#How do you convert a string to an integer in Python?

In [ ]:
#How do you convert a string to an integer in Python?
string_value = "123"
integer_value = int(string_value)
print(integer_value)
print(type(integer_value))

123
<class 'int'>

# 8.What is the difference between int and float?
 * integer(int):Represents whole numbers without any decimal points.  
> Examples: 10, -5, 0, 1000

* float (floating-point number): Represents numbers with decimal points.
> Examples: 3.14, -2.5

#10.How do you check the data type of a variable?

In [ ]:
#How do you check the data type of a variable?

a = 10
print(type(a))

b = 3.14
print(type(b))

c = "Hello"
print(type(c))

d = True
print(type(d))

#11 How do you add an element to a list?

In [ ]:
#How do you add an element to a list?
list1 = [1, 2, 3]
list1.append(4)
print(list1)

[1, 2, 3, 4]

# 12.How do you create a tuple with one element?

In [ ]:
# How do you create a tuple with one element?

my_tuple = (1,)
print(my_tuple)
print(type(my_tuple))

(1,)
<class 'tuple'>

#14 How do you access elements in a list?

In [ ]:
# How do you access elements in a list?

my_list = [1, 2, 3, 4, 5]
first_element = my_list[0]
third_element = my_list[2]
last_element = my_list[-1]
elements_from_index_1_to_3 = my_list[1:4]
print(first_element)
print(third_element)
print(last_element)
print(elements_from_index_1_to_3)

1
3
5
[2, 3, 4]

#15 How do you access a character in a string?

In [ ]:
# How do you access a character in a string?
my_string = "Hello, World!"
first_character = my_string[0]
print(first_character)

H

# 17 what is a tuple and how is it different from a list?
* In Python, a tuple is an ordered, immutable collection of elements.
*  Immutable means that once a tuple is created, you cannot change its elements.

* A list, on the other hand, is also an ordered collection of elements, but it is mutable.
* This means you can add, remove, or modify elements in a list after it's created.

#18.How do you concatenate two tuples?

In [ ]:
#How do you concatenate two tuples?
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

# 22.How do you add an element to a set?

In [ ]:
# How do you add an element to a set?

my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

#23.How do you remove an element from a set?

In [ ]:
#How do you remove an element from a set?
my_set = {1, 2, 3, 4}
my_set.remove(3)
print(my_set)

{1, 2, 4}

# 25. What are the common set operations in Python?

* Union: Returns a new set containing all elements from both sets.
> union_set = set1.union(set2)
print("Union:", union_set)
*  Intersection: Returns a new set containing only elements present in both sets.
> intersection_set = set1 & set2  
* Difference: Returns a new set containing elements present in the first set but not in the second.
> difference_set = set1 - set2  
* Symmetric Difference: Returns a new set containing elements present in either set but not in both.
> symmetric_difference_set = set1 ^ set2